@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/mobile.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: repeat;
}

@media (min-width: 768px) {
  body {
    background-image: url("../assets/pc.jpg");
  }
}
